
extends layout

block header
  .container.header-container
    .header-vertical-spacer
    .header-logo-container
      img.header-logo(src='/img/space-exe-conf-logo.png')

    .header-date-container 
      h2.year 2018
      h2.date 26th May
      //h3.time 11:00 - 17:30
      #background-cover-trigger

block content
  .container
    .row
      .col-md
        !=contents['about-space-exe.md'].html
      .col-md
        !=contents['about-the-conference.md'].html

  h1.heading Speakers
  h1.heading Getting Here
  h1.heading Contact Us